In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical

# load NN_dataset
filepath = "NN_dataset.csv"
NN_data = pd.read_csv(filepath)
NN_data.columns

Index(['Customer_ID', 'Num_CC', 'Dependents', 'Status_Checking_Acc',
       'Credit_History', 'Purposre_Credit_Taken', 'Savings_Acc',
       'Years_At_Present_Employment', 'Marital_Status_Gender',
       'Other_Debtors_Guarantors', 'Other_Inst_Plans ', 'Housing', 'Job',
       'Telephone', 'Foreign_Worker', 'Duration_binned',
       'Credit_amount_binned', 'Age_binned', 'Default_On_Payment'],
      dtype='object')

In [2]:
# set Customer_ID as index
NN_data.set_index('Customer_ID',inplace=True)

In [3]:
NN_data.dtypes

Num_CC                          int64
Dependents                      int64
Status_Checking_Acc            object
Credit_History                 object
Purposre_Credit_Taken          object
Savings_Acc                    object
Years_At_Present_Employment    object
Marital_Status_Gender          object
Other_Debtors_Guarantors       object
Other_Inst_Plans               object
Housing                        object
Job                            object
Telephone                      object
Foreign_Worker                 object
Duration_binned                object
Credit_amount_binned           object
Age_binned                     object
Default_On_Payment              int64
dtype: object

In [4]:
NN_data['Num_CC'] = NN_data['Num_CC'].astype(str)
NN_data['Dependents'] = NN_data['Dependents'].astype(str)

In [5]:
NN_data.dtypes

Num_CC                         object
Dependents                     object
Status_Checking_Acc            object
Credit_History                 object
Purposre_Credit_Taken          object
Savings_Acc                    object
Years_At_Present_Employment    object
Marital_Status_Gender          object
Other_Debtors_Guarantors       object
Other_Inst_Plans               object
Housing                        object
Job                            object
Telephone                      object
Foreign_Worker                 object
Duration_binned                object
Credit_amount_binned           object
Age_binned                     object
Default_On_Payment              int64
dtype: object

In [6]:
NN_data = NN_data.drop(columns=['Num_CC', 'Dependents', 'Status_Checking_Acc', 'Credit_History', 'Savings_Acc', 'Marital_Status_Gender', 'Other_Inst_Plans ', 'Job'])

In [7]:
NN_data.dtypes

Purposre_Credit_Taken          object
Years_At_Present_Employment    object
Other_Debtors_Guarantors       object
Housing                        object
Telephone                      object
Foreign_Worker                 object
Duration_binned                object
Credit_amount_binned           object
Age_binned                     object
Default_On_Payment              int64
dtype: object

In [8]:
NN_data.columns

Index(['Purposre_Credit_Taken', 'Years_At_Present_Employment',
       'Other_Debtors_Guarantors', 'Housing', 'Telephone', 'Foreign_Worker',
       'Duration_binned', 'Credit_amount_binned', 'Age_binned',
       'Default_On_Payment'],
      dtype='object')

In [9]:
NN_data.head()

,Purposre_Credit_Taken,Years_At_Present_Employment,Other_Debtors_Guarantors,Housing,Telephone,Foreign_Worker,Duration_binned,Credit_amount_binned,Age_binned,Default_On_Payment
Customer_ID,,,,,,,,,,
100001,A43,A75,A101,A152,A192,A201,B10,B20,B35,0
100002,A43,A73,A101,A152,A191,A201,B14,B22,B30,0
100003,A46,A74,A101,A152,A191,A201,B11,B20,B33,0
100004,A42,A74,A103,A153,A191,A201,B13,B23,B33,0
100005,A40,A73,A101,A153,A191,A201,B12,B21,B33,1

In [10]:
NN_data = pd.get_dummies(NN_data)

In [11]:
NN_data

,Default_On_Payment,Purposre_Credit_Taken_A40,Purposre_Credit_Taken_A41,Purposre_Credit_Taken_A410,Purposre_Credit_Taken_A42,Purposre_Credit_Taken_A43,Purposre_Credit_Taken_A44,Purposre_Credit_Taken_A45,Purposre_Credit_Taken_A46,Purposre_Credit_Taken_A48,...,Credit_amount_binned_B24,Credit_amount_binned_B25,Credit_amount_binned_B26,Credit_amount_binned_B27,Age_binned_B30,Age_binned_B31,Age_binned_B32,Age_binned_B33,Age_binned_B34,Age_binned_B35
Customer_ID,,,,,,,,,,,,,,,,,,,,,
100001,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
100002,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
100003,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
100004,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
100005,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104996,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
104997,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
104998,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
104999,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
105000,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
data = NN_data.values
X = data[:, 1:77]
y = data[:, 0]

In [26]:
len(NN_data.columns

Index(['Default_On_Payment', 'Purposre_Credit_Taken_A40',
       'Purposre_Credit_Taken_A41', 'Purposre_Credit_Taken_A410',
       'Purposre_Credit_Taken_A42', 'Purposre_Credit_Taken_A43',
       'Purposre_Credit_Taken_A44', 'Purposre_Credit_Taken_A45',
       'Purposre_Credit_Taken_A46', 'Purposre_Credit_Taken_A48',
       'Purposre_Credit_Taken_A49', 'Years_At_Present_Employment_A71',
       'Years_At_Present_Employment_A72', 'Years_At_Present_Employment_A73',
       'Years_At_Present_Employment_A74', 'Years_At_Present_Employment_A75',
       'Other_Debtors_Guarantors_A101', 'Other_Debtors_Guarantors_A102',
       'Other_Debtors_Guarantors_A103', 'Housing_A151', 'Housing_A152',
       'Housing_A153', 'Telephone_A191', 'Telephone_A192',
       'Foreign_Worker_A201', 'Foreign_Worker_A202', 'Duration_binned_B10',
       'Duration_binned_B11', 'Duration_binned_B12', 'Duration_binned_B13',
       'Duration_binned_B14', 'Duration_binned_B15',
       'Credit_amount_binned_B20', 'Credit_amount_binned_B21',
       'Credit_amount_binned_B22', 'Credit_amount_binned_B23',
       'Credit_amount_binned_B24', 'Credit_amount_binned_B25',
       'Credit_amount_binned_B26', 'Credit_amount_binned_B27',
       'Age_binned_B30', 'Age_binned_B31', 'Age_binned_B32', 'Age_binned_B33',
       'Age_binned_B34', 'Age_binned_B35'],
      dtype='object')

In [13]:
X.shape, y.shape

((5000, 45), (5000,))

In [14]:
X[0]

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1], dtype=int64)

In [15]:
# one-hot encode y (y data is already label encoded)
one_hot_y = to_categorical(y)
one_hot_y

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [16]:
one_hot_y[0]

array([1., 0.], dtype=float32)

In [17]:
#split data to train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, one_hot_y, random_state=1)

In [18]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3750, 45), (1250, 45), (3750, 2), (1250, 2))

In [19]:
# create basic single hidden layer model to test (ignore future version warning)
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=51, activation='relu', input_dim=45))
model.add(Dense(units=51, activation='relu'))
model.add(Dense(units=51, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From C:\Users\cgilb\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 51)                2346
_________________________________________________________________
dense_1 (Dense)              (None, 51)                2652
_________________________________________________________________
dense_2 (Dense)              (None, 51)                2652
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 104
=================================================================
Total params: 7,754
Trainable params: 7,754
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [22]:
# Fit the model to the training data
model.fit(
    X_train,
    y_train,
    epochs=100,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\cgilb\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/100
3750/3750 - 0s - loss: 0.5723 - acc: 0.7056
Epoch 2/100
3750/3750 - 0s - loss: 0.5003 - acc: 0.7557
Epoch 3/100
3750/3750 - 0s - loss: 0.4409 - acc: 0.7944
Epoch 4/100
3750/3750 - 0s - loss: 0.3833 - acc: 0.8381
Epoch 5/100
3750/3750 - 0s - loss: 0.3203 - acc: 0.8680
Epoch 6/100
3750/3750 - 0s - loss: 0.2757 - acc: 0.8872
Epoch 7/100
3750/3750 - 0s - loss: 0.2423 - acc: 0.9080
Epoch 8/100
3750/3750 - 0s - loss: 0.2244 - acc: 0.9099
Epoch 9/100
3750/3750 - 0s - loss: 0.1962 - acc: 0.9184
Epoch 10/100
3750/3750 - 0s - loss: 0.1784 - acc: 0.9277
Epoch 11/100
3750/3750 - 0s - loss: 0.1713 - acc: 0.9264
Epoch 12/100
3750/3750 - 0s - loss: 0.1608 - acc: 0.9309
Epoch 13/100
3750/3750 - 0s - loss: 0.1517 - acc: 0.9339
Epoch 14/100
3750/3750 - 0s - loss: 0.1507 - acc: 0.9333
Epoch 15/100
3750/3750 - 0s - loss: 0.1491 - acc: 0.9344
Epoch 16/100
3750/3750 - 0s - loss: 0.1404 - acc: 0.9333
Epoch 17/100
3750/3750 - 0s - loss: 0.1386 - acc: 0.9368
Epoch 18/100
3750/3750 - 0s - loss: 0.1356 - acc: 0.9368
Epoch 19/100
3750/3750 - 0s - loss: 0.1358 - acc: 0.9368
Epoch 20/100
3750/3750 - 0s - loss: 0.1365 - acc: 0.9344
Epoch 21/100
3750/3750 - 0s - loss: 0.1269 - acc: 0.9429
Epoch 22/100
3750/3750 - 0s - loss: 0.1371 - acc: 0.9363
Epoch 23/100
3750/3750 - 0s - loss: 0.1309 - acc: 0.9405
Epoch 24/100
3750/3750 - 0s - loss: 0.1237 - acc: 0.9349
Epoch 25/100
3750/3750 - 0s - loss: 0.1281 - acc: 0.9389
Epoch 26/100
3750/3750 - 0s - loss: 0.1239 - acc: 0.9384
Epoch 27/100
3750/3750 - 0s - loss: 0.1218 - acc: 0.9421
Epoch 28/100
3750/3750 - 0s - loss: 0.1257 - acc: 0.9392
Epoch 29/100
3750/3750 - 0s - loss: 0.1207 - acc: 0.9389
Epoch 30/100
3750/3750 - 0s - loss: 0.1190 - acc: 0.9443
Epoch 31/100
3750/3750 - 0s - loss: 0.1182 - acc: 0.9413
Epoch 32/100
3750/3750 - 0s - loss: 0.1196 - acc: 0.9371
Epoch 33/100
3750/3750 - 0s - loss: 0.1237 - acc: 0.9357
Epoch 34/100
3750/3750 - 0s - loss: 0.1260 - acc: 0.9389
Epoch 35/100
3750/3750 - 0s - loss: 0.1238 - acc: 0.9381
Epoch 36/100
3750/3750 - 0s - loss: 0.1195 - acc: 0.9416
Epoch 37/100
3750/3750 - 0s - loss: 0.1158 - acc: 0.9395
Epoch 38/100
3750/3750 - 0s - loss: 0.1179 - acc: 0.9376
Epoch 39/100
3750/3750 - 0s - loss: 0.1181 - acc: 0.9392
Epoch 40/100
3750/3750 - 0s - loss: 0.1221 - acc: 0.9405
Epoch 41/100
3750/3750 - 0s - loss: 0.1330 - acc: 0.9352
Epoch 42/100
3750/3750 - 0s - loss: 0.1154 - acc: 0.9371
Epoch 43/100
3750/3750 - 0s - loss: 0.1130 - acc: 0.9405
Epoch 44/100
3750/3750 - 0s - loss: 0.1189 - acc: 0.9408
Epoch 45/100
3750/3750 - 0s - loss: 0.1155 - acc: 0.9411
Epoch 46/100
3750/3750 - 0s - loss: 0.1143 - acc: 0.9405
Epoch 47/100
3750/3750 - 0s - loss: 0.1142 - acc: 0.9392
Epoch 48/100
3750/3750 - 0s - loss: 0.1134 - acc: 0.9400
Epoch 49/100
3750/3750 - 0s - loss: 0.1129 - acc: 0.9371
Epoch 50/100
3750/3750 - 0s - loss: 0.1136 - acc: 0.9355
Epoch 51/100
3750/3750 - 0s - loss: 0.1120 - acc: 0.9400
Epoch 52/100
3750/3750 - 0s - loss: 0.1137 - acc: 0.9413
Epoch 53/100
3750/3750 - 0s - loss: 0.1149 - acc: 0.9413
Epoch 54/100
3750/3750 - 0s - loss: 0.1141 - acc: 0.9395
Epoch 55/100
3750/3750 - 0s - loss: 0.1104 - acc: 0.9373
Epoch 56/100
3750/3750 - 0s - loss: 0.1137 - acc: 0.9341
Epoch 57/100
3750/3750 - 0s - loss: 0.1122 - acc: 0.9379
Epoch 58/100
3750/3750 - 0s - loss: 0.1107 - acc: 0.9397
Epoch 59/100
3750/3750 - 0s - loss: 0.1086 - acc: 0.9437
Epoch 60/100
3750/3750 - 0s - loss: 0.1122 - acc: 0.9397
Epoch 61/100
3750/3750 - 0s - loss: 0.1096 - acc: 0.9395
Epoch 62/100
3750/3750 - 0s - loss: 0.1088 - acc: 0.9432
Epoch 63/100
3750/3750 - 0s - loss: 0.1075 - acc: 0.9424
Epoch 64/100
3750/3750 - 0s - loss: 0.1106 - acc: 0.9395
Epoch 65/100
3750/3750 - 0s - loss: 0.1101 - acc: 0.9387
Epoch 66/100
3750/3750 - 0s - loss: 0.1073 - acc: 0.9403
Epoch 67/100
3750/3750 - 0s - loss: 0.1081 - acc: 0.9405
Epoch 68/100
3750/3750 - 0s - loss: 0.1091 - acc: 0.9405
Epoch 69/100
3750/3750 - 0s - loss: 0.1077 - acc: 0.9392
Epoch 70/100
3750/3750 - 0s - loss: 0.1071 - acc: 0.9424
Epoch 71/100
3750/3750 - 0s - loss: 0.1076 - acc: 0.9392
Epoch 72/100
3750/3750 - 0s - loss: 0.1052 - acc: 0.9421
Epoch 73/100
3750/3750 - 0s - loss: 0.1070 - acc: 0.9363
Epoch 74/100
3750/3750 - 0s - loss: 0.1068 - acc: 0.9416
Epoch 75/100
3750/3750 - 0s - loss: 0.1067 - acc: 0.9421
Epoch 76/100
3750/3750 - 0s - loss: 0.1060 - acc: 0.9387
Epoch 77/100
3750/3750 - 0s - loss: 0.1044 - acc: 0.9397
Epoch 78/100
3750/3750 - 0s - loss: 0.1045 - acc: 0.9387
Epoch 79/100
3750/3750 - 0s - loss: 0.1072 - acc: 0.9395
Epoch 80/100
3750/3750 - 0s - loss: 0.1048 - acc: 0.9443
Epoch 81/100
3750/3750 - 0s - loss: 0.1035 - acc: 0.9371
Epoch 82/100
3750/3750 - 0s - loss: 0.1043 - acc: 0.9403
Epoch 83/100
3750/3750 - 0s - loss: 0.1049 - acc: 0.9392
Epoch 84/100
3750/3750 - 0s - loss: 0.1042 - acc: 0.9408
Epoch 85/100
3750/3750 - 0s - loss: 0.1028 - acc: 0.9395
Epoch 86/100
3750/3750 - 0s - loss: 0.1119 - acc: 0.9371
Epoch 87/100
3750/3750 - 0s - loss: 0.1059 - acc: 0.9397
Epoch 88/100
3750/3750 - 0s - loss: 0.1029 - acc: 0.9435
Epoch 89/100
3750/3750 - 0s - loss: 0.1040 - acc: 0.9397
Epoch 90/100
3750/3750 - 0s - loss: 0.1041 - acc: 0.9437
Epoch 91/100
3750/3750 - 0s - loss: 0.1029 - acc: 0.9408
Epoch 92/100
3750/3750 - 0s - loss: 0.1026 - acc: 0.9424
Epoch 93/100
3750/3750 - 0s - loss: 0.1025 - acc: 0.9395
Epoch 94/100
3750/3750 - 0s - loss: 0.1016 - acc: 0.9424
Epoch 95/100
3750/3750 - 0s - loss: 0.1008 - acc: 0.9435
Epoch 96/100
3750/3750 - 0s - loss: 0.1015 - acc: 0.9368
Epoch 97/100
3750/3750 - 0s - loss: 0.1018 - acc: 0.9416
Epoch 98/100
3750/3750 - 0s - loss: 0.0997 - acc: 0.9405
Epoch 99/100
3750/3750 - 0s - loss: 0.0994 - acc: 0.9416
Epoch 100/100
3750/3750 - 0s - loss: 0.1009 - acc: 0.9424

In [23]:
model_loss, model_accuracy = model.evaluate(
    X_test, y_test, verbose=2)
print(f"model - Loss: {model_loss}, Accuracy: {model_accuracy}")

1250/1250 - 0s - loss: 0.1075 - acc: 0.9392
model - Loss: 0.10745270791053772, Accuracy: 0.9391999840736389

In [24]:
from sklearn.metrics import classification_report

predictions = model.predict(X_test).round()
print(classification_report(y_test, predictions, target_names=["no-default", "default"]))

              precision    recall  f1-score   support

  no-default       0.96      0.96      0.96       901
     default       0.90      0.89      0.89       349

   micro avg       0.94      0.94      0.94      1250
   macro avg       0.93      0.92      0.92      1250
weighted avg       0.94      0.94      0.94      1250
 samples avg       0.94      0.94      0.94      1250

In [25]:
model.save("area_51_loan_approval.h5")